bases:
  - name: backup1
    ip: 192.168.0.1
    backupdir: /backup
  - name: backup2
    ip: 10.27.0.33
    description: backup2
    backupdir: /backup

  - name: backup3
    ip: 10.0.30.127
    backupdir: /backup

default:
    backupdir: /backupdefault